html {
    overflow-x: hidden;
}

body {
    font-size: large;
    font-family: 'Oswald', sans-serif;
    color: black;
    /* width: 100vw; */
    display:flex;
    flex-direction:column;
    margin:unset;
}

li {
    list-style: none;
}

a {
    color: black;
}

a:hover {
    color:darkcyan;
    transform: scale(1.2);
}

h1, h2, h3, h4, h5, h6 {
    margin:.5em 0 .5em 0;
    text-transform:uppercase;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large;
}

h5 {
    font-size: 1em;
}

p {
    margin: 5px 0px;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    padding: .5em;
}

footer div div i {
    margin: .10em;
}

section {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: flex-start;
}

section div {
    display:flex;
    flex-direction: column;
    margin: 0 2em;
    position:relative;
}

.black-divider {
    background-color: black;
    height:7px;
    margin:-5px;
}

.full-shrink {
    margin: 5px 0px;
    max-width: 25em;
}

.full-shrink > p {
    margin-bottom: 2em;
}

.quote-block {
    background-color: rgba(0, 0, 0, 0.082);
    padding: 1em;
    margin: 5px;
    border-radius: 5%;
}

.header-hello {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 50%);

    overflow:hidden;

    animation: display 4s linear both;
    animation-delay: 2s;
}

.hidden {
    display:none;
}

.navbar-nav {
    list-style-type:none;
    padding:unset;
}

.navbar-nav li {
    display:inline;
    margin:unset;
    padding:1em .5em;
}

.navbar-nav li:hover {
    background-color:white;
}

.navbar-nav::before {
    content: 'jo foss';
    color: white;
    text-transform: uppercase;
    padding: 1em 1em;
}

.navbar-nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
    text-transform: uppercase;
    color: maroon;
}

.main_section {
    float: left;
    margin: .4em;
    border: solid 1px lightpink;
    padding-top: 1em;
    padding-bottom: 1em;
}

.video-container {
    position:relative;
}

#header-content {
    position:relative;
}

#header-video {
    border:none;
    width: 100vw;
    height: 100vh;
    object-fit:cover;
}

#nav {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    text-align: left;
    width: 100%;
    padding: .2em;

    background-color: rgb(0, 0, 0, 10%);
    border-bottom: 1px solid rgb(0, 0, 0, 15%);
}

#me {
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    max-height: 20em;
    max-width: 100vw;
}

#section1 {
    padding: 1em 0;
}

#section1>div {
    display:flex;
    flex-direction: column;
    margin: 0 2em;
    position:relative;
    width:100%;
}

#section1>div:last-child {
    flex-grow:1;
}

#section1 .img-container {
    margin: .5em 0;
    position:relative;
}

#section1 h5 {
    position: absolute;
    top: 3em;
    right: 7em;
}

#section1 > small {
    font-style:oblique;
    margin-top: 1em;
    color: rgb(97, 97, 97);
}

#section2 .section-container {
    width:100%;
    background-color: beige;
}

#section2 .section-container h2 {
    text-align:center;
}

#section2 .offer-boxes {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

#section2 .offer-boxes .offer-box {
    flex:1 0 21%;
    height:10em;
    margin: .50em;
    border: 1px solid black;
}

#interests-text {
    font-size: 2em;
}

#quote {
    margin: 5px;
    border-radius: 5%;
    border: black;
    padding: 1em;
    box-shadow: 3px 3px rgba(136, 136, 136, 0.3);
}

#quote:hover {
    box-shadow: -3px -3px rgba(136, 136, 136, 0.3);
}

#quote:active {
    background-color: black;
    color: white;
}

@keyframes display {
    0% {
        background: transparent;
        -webkit-background-clip: text;
        color:transparent;
    }
    100% {
        background: floralwhite;
        -webkit-background-clip: text;
        color:floralwhite;
    }
}

/* @media screen and (min-width: 300px) {
    #hello {
        font-size: .5em;
    }

    #header-text {
        font-family: monospace, serif;
        font-size: 1em;
    }

    #section1 > img {
        max-width: 90%;
        height:auto;
    }
} */

@media screen and (max-width: 767px) {
    .navbar-nav::before {
        content: 'jo';
        color: white;
        text-transform: uppercase;
        padding: 1em 1em;
    }

    .navbar-nav li {
        padding:0.25em;
    }

     .header-hello {
        font-size: 24px;
     }

     #section1 {
        display:flex;
        flex-direction:column;
        padding:.5em;
     }
}

/* @media screen and (min-width: 1024px) {
     #hello {
        font-size: 1em;
    }

     #header-text {
        font-family: monospace, serif;
        font-size: 1.5em;
    }
} */