body {
    font-size: x-large;
    background-color: beige;
    font-family: 'Oswald', sans-serif;
    color: black;
    /* width: 100vw; */
}

li {
    list-style: none;
}

a {
    color: black;
}

a:hover {
    color:darkcyan;
    transform: scale(1.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace, serif;
    margin: .5em 0 .5em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

p {
    margin: 5px 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    padding: .5em;
}

footer div div i {
    margin: .10em;
}

.full-shrink {
    margin: 5px 0px;
    max-width: 25em;
    text-align: center;
}

.full-shrink > p {
    margin-bottom: 2em;
}

.quote-block {
    background-color: rgba(0, 0, 0, 0.082);
    padding: 1em;
    margin: 5px;
    border-radius: 5%;

}

.hidden {
    display: none;
}


.main_section {
    float: left;
    margin: .4em;
    border: solid 1px lightpink;
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav {
    position: fixed;
    z-index: 5;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 5em;
}

#me {
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
    max-height: 20em;
    max-width: 100vw;
}

#section1 > img {
    margin: 1em;
}

#section1 > small {
    font-style:oblique;
    margin-bottom: 1em;
    color: rgb(97, 97, 97);
}

#interests-text {
    font-size: 2em;
}

#quote {
    margin: 5px;
    border-radius: 5%;
    border: black;
    padding: 1em;
    box-shadow: 3px 3px rgba(136, 136, 136, 0.3);
}

#quote:hover {
    box-shadow: -3px -3px rgba(136, 136, 136, 0.3);
}

#quote:active {
    background-color: black;
    color: white;
}

/* @media screen and (min-width: 300px) {
    #hello {
        font-size: .5em;
    }

    #header-text {
        font-family: monospace, serif;
        font-size: 1em;
    }

    #section1 > img {
        max-width: 90%;
        height:auto;
    }
}

@media screen and (min-width: 768px) {
     #hello {
        font-size: .75em;
    }

     #header-text {
        font-family: monospace, serif;
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1024px) {
     #hello {
        font-size: 1em;
    }

     #header-text {
        font-family: monospace, serif;
        font-size: 1.5em;
    }
} */