header {
    background-color: #ffffff;
}

div.header {
    background-color: #000000;
    height: 50px;
    width: auto;
    color: beige;
    font-size: 3em;
    padding-bottom: .5em;
}

.main_section {
    float: left;
    width: 32%;
    margin: .4em;
    border: solid 1px lightpink;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    clear: both;
    padding: .5em;
}

